# Carpeta que se va a monitorear
WATCH_FOLDER=C:/Users/User/Downloads

# Carpeta raiz donde se organizaran los archivos
OUTPUT_FOLDER=C:/Users/User/Documents/Organizado

# Segundos de espera antes de mover un archivo (evita mover archivos que todavia se estan descargando)
MOVE_DELAY=3

# true = mover archivos que ya estaban antes de iniciar el programa
ORGANIZE_EXISTING=true
